.feedback {
    background-color: black;
    width: 100%;
    height: 400px;
    padding: 15px;

    .feedback-tile {
        text-align: center;
        width: 100%;
        height: 10%;
        font-size: 18px;
    }
}